<div class="row service-nav">
    <div class="col-sm-2 col-sm-offset-2">
        <h4>Service</h4>
    </div>
    <div class="col-sm-2 col-sm-offset-5 text-center">
        <h5> <%= link_to("Home", root_path) %>  > service</h5>
    </div>
</div>

<div class="row service">
    <div class="text-center">
        <h2>Our Service</h2>
        <p>
            <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fcnzbl4t11j306w00fgld.jpg" alt="crow">
        </p>
    </div>
    <br>

    <div>

        <div class="col-sm-3 col-sm-offset-1">
            <ul class="list-unstyled">
                <li class="full-grooming">
                    <h4 class="pull-right"><%= link_to("Full Grooming", service_path(1)) %>
                        <span class="icon"><img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcokzx4gatj302q02smx1.jpg" alt="icon-scissors"></span>
                    </h4>

                    <p class="pull-right">Your pet is in good hands with us! Let your favorite get the best care in our center.</p>
                </li>
                <li class="bath">
                    <h4 class="pull-right"><%= link_to("Bath & Dry", service_path(2)) %>
                        <span class="icon"><img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcol1xnb5ej302s02sjr9.jpg" alt="icon-bath"></span>
                    </h4>
                    <p class="pull-right">We use a big range of shampoos for all different coat types and breeds</p>
                </li>
            </ul>
        </div>


        <div class="col-sm-4 text-center">
            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcok7uawv8j308z0chtb7.jpg" alt="pet1">
        </div>

        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li class="styling">
                    <h4 class="pull-left">
                        <span class="icon"><img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcol5oimuwj302s02smx1.jpg" alt="icon-styling"></span><%= link_to("Styling", service_path(3)) %>
                    </h4>
                    <p class="pull-left">Our team of pet hair stylists is happy to make your animal look pretty and happy.
                    </p>
                </li>
                <li class="medical">
                    <h4 class="pull-left">
                        <span class="icon"><img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcol9fjfeqj302s02s0sl.jpg" alt="icon-medical"></span><%= link_to("Medical Bath", service_path(4)) %></h4>
                    <p class="pull-left">Bathing in our vet bath, using an appropriate shampoo that is kind to pet’s skin.</p>
                </li>
            </ul>
        </div>

    </div>

</div>

<div class="row bg1">
    <div class="col-sm-12">
        <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcomaf6s7pj31hc0eq44h.jpg" alt="bg1" width="100%">
    </div>
</div>

<div class="row package">
    <div class="text-center">
        <h2>Our Packages</h2>
        <p style="margin-bottom: 0px;">
            <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fcnzbl4t11j306w00fgld.jpg" alt="crow">
        </p>
    </div>

    <div class="row package">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img class="img-circle" width="134" height="134" alt="image1" src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/07/image-22-156x156.jpg">
                </div>
                <div class="panel-body">
                    <h3>Deluxe Bath &amp; Groom</h3>

                    <p>Grooming service for a small dog </p>
                      <p>include bathing</p>
                      <p> ear cleaning and grooming.</p>
                </div>
                <div class="panel-footer">
                    <h3>$54</h3>
                    <button class="btn btn-lg">Enquire now</button>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img class="img-circle" width="134" height="134" alt="image1" src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/07/price2-156x156.jpg">
                </div>
                <div class="panel-body">
                    <h3>Bath & Full Groom</h3>

                    <p>Our full groom package </p>
                    <p>  includes: bath </p>
                      <p>dry with styling and nail clipping.</p>
                </div>
                <div class="panel-footer">
                    <h3>$69</h3>
                    <button class="btn btn-lg">Enquire now</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <img class="img-circle" width="134" height="134" alt="image1" src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/07/price3-156x156.jpg">
                  </div>
                <div class="panel-body">
                    <h3>Bath & Tidy Up</h3>

                    <p>Our service for a large dog </p>
                      <p>include nail trim</p>
                        <p> cleaning, haircut and blow dry. </p>
                </div>
                <div class="panel-footer">
                    <h3>$63</h3>
                    <button class="btn btn-lg">Enquire now</button>
                </div>
            </div>
        </div>


</div>
