<div class="service-sidebar">
    <div class="row">
        <div class="col-sm-2">
            <h4 class="text-center">Services List</h4>
        </div>
        <div class="col-sm-2 col-sm-offset-2">
            <p>
                <span class="fa fa-caret-right"></span>
                Full Grooming</p>
        </div>
        <div class="col-sm-2">
            <p>
                <span class="fa fa-caret-right"></span>
                Bath & Dry</p>
        </div>
        <div class="col-sm-2">

            <p>
                <span class="fa fa-caret-right"></span>
                Styling</p>
        </div>
        <div class="col-sm-2">
            <p>
                <span class="fa fa-caret-right"></span>
                Medical Bath</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="service-image">
            <% if @service.image.present? %>
            <%= image_tag(@service.image.url, class: "thumbnail") %>
        <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
        </div>
    </div>

</div>

<div class="row content">
    <div class="col-sm-8 col-sm-offset-1">
        <h4><%= @service.title %></h4>
        <p><%= simple_format(@service.description) %></p>
    </div>
    <div class="col-sm-11">
        <div class="pull-right">
            <a href="#" data-toggle="modal" data-target="#appointment" class="btn btn-lg pull-right">Make an Appointment</a>
            <div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="loginmodal-container">
                        <%= simple_form_for [@service, @appointment] do |f| %>
                        <%= f.error_notification %>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="text-center">Book
                            <%= @service.title %></h4>
                        <div class="form-inputs">
                            <%= f.input :booking_name%>
                            <%= f.input :booking_phone %>
                            <%= f.input :booking_email %>
                            <%= f.input :booking_time , as: :date %>
                            <div class="form-actions">
                                <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
                            </div>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row comment">
        <div class="col-sm-10 col-sm-offset-1">
            <h3 class="comments_title">
                <%= @service.comments.count %>
                Comments
            </h3>
            <hr>
            <div id="comments">
                <%= render @service.comments%>
                <hr>
                <%= render "comments/form"%>
            </div>
        </div>
    </div>

    <!-- 以下代码为预约弹窗代码 -->
