<% @blogs.each do |blog| %>
<p class="blogtitle"><%= link_to(blog.title, blog_path(blog), style: "text-decoration: none; color: black; font-size: 2em;") %></p>
<div class="blogdetail">
    <p class="blogtag">Post at
        <%= blog.created_at.strftime("%d %b. %Y") %></p>
    <p class="blogtag">Topic:
        <%= blog.topic.name %></p>
    <div class="blogtag">
       <%= link_to like_blog_path(blog), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>Like
        <%= blog.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_blog_path(blog), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>Dislike
        <%= blog.get_downvotes.size %>
        <% end %>

    </div>
</div>
<div class="blogimage">
<% if blog.image.present? %>
<%= image_tag(blog.image.url) %>
<% end %>
</div>

<p class="blogsketch"><%= blog.sketch %></p>

<div class="blogbutton">
  <%= link_to("Read More", blog_path(blog), class: "btn btn-default", style: "color: white; font-size:1.1em;") %>
</div>

<div class="line2">
</div>
<% end %>

<div class="text-center">
  <%= will_paginate @blogs %>

</div>
