<h2 class="text-center">Appointment List</h2>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Service</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Booking Time</th>

                </tr>
            </thead>
            <tbody>

                <% @appointments.each do |appointment| %>
                <tr>
                    <td>
                        <%= appointment.id %>
                    </td>
                    <td>
                        <%= appointment.service.title %>
                      </td>
                      <td><%= appointment.booking_name %></td>
                      <td><%= appointment.booking_phone %></td>
                      <td><%= appointment.booking_email %></td>
                    <td>
                        <%= appointment.booking_time.strftime("%d %b. %Y") %>
                    </td>
                </tr>
                <% end %>

            </tbody>
        </table>
    </div>
</div>
