<h2> Edit Article </h2>

<%= simple_form_for [:admin, @blog] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :sketch %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

   <%= f.select :topic_id, @topics %>
   <br>
   <br>
  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
