<h2> Edit Article </h2>

<%= simple_form_for [:admin, @blog] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :sketch %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <% if @blog.image.present? %>
  <span>目前商品图</span>
  <br>
  <%= image_tag(@blog.image.thumb.url) %>
  <% end %>

  <div class="group">
      <%= f.input :image, as: :file %>
  </div>
  
   <%= f.select :topic_id, @topics %>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
